name: Base Image build

on: 
  push:
    paths:
      - dev-sec-opps/base-images/**

jobs:
  build-base-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Build image
        run: docker build -t ${{ secrets.DOCKER_REGISTRY_USER }}/license-finder:latest -f dev-sec-opps/base-images/liencense-finder.dockerfile .

      - name: Log in to Github Docker Registry
        uses: docker/login-action@v2
        with: 
          username: ${{ secrets.DOCKER_REGISTRY_USER }}
          password: ${{ secrets.DOCKER_REGISTRY_PASS }} 

      - name: Push image
        run: docker push ${{ secrets.DOCKER_REGISTRY_USER }}/license-finder:latest 


      

  